<%- include('templates/header', { title: "Home" }) %>

<h1>Home Page</h1>

<% if (name) { %>
  <p>Hello, <%= name %></p>

  <% if (user_type === "admin") { %>
    <a class="btn btn-warning" href="/admin">Admin Panel</a>
  <% } %>

  <a class="btn btn-primary" href="/members">Members Area</a>
  <a class="btn btn-secondary" href="/logout">Sign Out</a>

<% } else { %>
  <a class="btn btn-success" href="/signup">Sign Up</a>
  <a class="btn btn-info" href="/login">Log In</a>
<% } %>

<%- include('templates/footer') %>