<%- include('templates/header', { title: "Home" }) %>

<h1>Home Page</h1>

<% if (name) { %>
  <p>Hello, <%= name %></p>

  <% if (user_type === "admin") { %>
    <a class="btn btn-warning" href="/admin">Captain's Corner</a>
  <% } %>

  <a class="btn btn-primary" href="/members">Crew Tavern</a>
  <a class="btn btn-secondary" href="/logout">Discharge (Sign Out)</a>

<% } else { %>
  <a class="btn btn-success" href="/signup">Enlist (Sign Up)</a>
  <a class="btn btn-info" href="/login">Hop Aboard (Log In)</a>
<% } %>

<%- include('templates/footer') %>