<%- include('templates/header', { title: "Login" }) %>

<h2>Hop Aboard (Log In)</h2>
<form method="POST" action="/login" class="mb-3">
  <input class="form-control mb-2" name="email" type="email" placeholder="Email" required>
  <input class="form-control mb-2" name="password" type="password" placeholder="Password" required>
  <button class="btn btn-primary" type="submit">Hop Aboard (Log In)</button>
</form>

<%- include('templates/footer') %>